@model IEnumerable<EfficientIoTDataAcquisitionAndProcessingBasedOnCloudServices.Models.IoTDevice>

@{
    ViewData["Title"] = "Index";
}

<h4>Device Register</h4>
<hr />


<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxWaterAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCoffeeWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Device</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxWaterAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxCoffeeWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.DeviceId"><i class="fa fa-marker fa-lg"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.DeviceId" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>